# HONR 25315 Fall 2021: Foundations of Geospatial Analytics
## Week 4 Class Notebook
## Postgres on Scholar

### Justin A. Gould (gould29@purdue.edu)

# Required Packages

In [1]:
import geopandas as gpd
from sqlalchemy import create_engine, text
from sqlalchemy_utils import create_database, database_exists, drop_database
import pandas as pd
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

# Connect to Postgres
## MUST BE CONNECTED TO THE `webvpn2.purdue.edu` VPN OR ON A PHYSICAL MACHINE ON THE PURDUE/RCAC NETWORK.

In [4]:
#Variables
db_type = "postgres"
username = "postgres"
password = "N8ri54UU8C"
host = "ananke-a000.rcac.purdue.edu"
port = "32029"
db_name = "gould29"

#Put it together
engine = create_engine(f"{db_type}://{username}:{password}@{host}:{port}/{db_name}")

# Ensure Functionality with PostGIS
## PostGIS must first be installed on **your** database (Purdue Alias via `CREATE DATABASE alias';`) via `CREATE EXTENSION postgis;`

%%bash
cd ./ch11/data/
psql -h ananke-a000.rcac.purdue.edu -U postgres -p 32029 -d gould29 -f ch11_data.sql

In [8]:
sql = """
SELECT
    city,
    COUNT(city) AS num_records,
    SUM(ST_NumGeometries(geom)) AS numpoly_before,
    ST_NumGeometries(ST_Multi(ST_Union(geom))) AS num_poly_after,
    ST_PointFromText('POINT(0 0)') AS dummy
FROM
    ch11.cities
GROUP BY
    city, dummy
HAVING
    COUNT(city) > 1;
"""

ex_11_1_1_2 = gpd.GeoDataFrame.from_postgis(sql=sql, con=engine, geom_col="dummy") #Note the change in geom_col!

In [9]:
ex_11_1_1_2

,city,num_records,numpoly_before,num_poly_after,dummy
0,SAN MATEO,2,2,2,POINT (0.00000 0.00000)
1,SOUTH SAN FRANCISCO,2,2,2,POINT (0.00000 0.00000)
2,BRISBANE,2,2,1,POINT (0.00000 0.00000)
3,ALAMEDA,4,4,4,POINT (0.00000 0.00000)
4,GREENBRAE,2,2,2,POINT (0.00000 0.00000)
5,LARKSPUR,2,2,2,POINT (0.00000 0.00000)
6,REDWOOD CITY,2,2,2,POINT (0.00000 0.00000)
7,SUISUN CITY,2,2,2,POINT (0.00000 0.00000)
8,SAN FRANCISCO,7,7,6,POINT (0.00000 0.00000)
9,BELVEDERE TIBURON,2,2,2,POINT (0.00000 0.00000)